
<div class="container-fluid">
	<div class="col-md-4 col-md-offset-4">
    
		<div class="panel panel-info">
			   <div class="panel-heading">Chat Window : <b><%= data._json.name %></b> <Br /><img src="<%= data._json.picture.data.url %>" class="img-thumbnail" /></div>
			   <div id="chat-box" style="min-height: 400px; width: 100%; overflow-y: scroll;">
			   	
			   </div>
			   
			   <hr />
			   <div id="chat-message" style="border:1px solid #ddd; padding: 10px; margin-top: 5px;">
			   	<div class="col-md-10">
			   		<input type="text" class="form-control">
			   	</div>
			   	<input type="button" class="btn btn-primary" value="Send" />
			   </div>
        <div class="panel-body"> 
        </div>
          

		</div>
	</div>
</div>
