<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>

<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">NODE JS PROJECT</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">HOME</a></li>
      <li><a href="/about">ABOUT US</a></li>
      
    </ul>
  </div>
</nav> -->
<div style="margin-top: 50px;"></div>
<%- include(pagename) %>


<hr />
</body>
</html>