<div class="container-fluid">
	<div class="col-md-4 col-md-offset-4">
    
		<div class="panel panel-info">
			   <div class="panel-heading">TSS-Chat Window</div>
        <div class="panel-body"> 
        
          <div class="form-group"> 
            <!-- <div class="col-sm-offset-2 col-sm-10"> -->
              <h4>Login With</h4>
              <a type="button" href="/facebook" class="btn btn-default">Facebook</a>
              <a type="button" href="" class="btn btn-default">Twitter</a>
              <a type="button" href="" class="btn btn-default">Github</a>
              <a type="button" href="" class="btn btn-default">LinkedIn</a>
              <a type="button" href="" class="btn btn-default">G-Mail</a>
              <a type="button" href="" class="btn btn-default">Yahoo</a>
            </div>
          <!-- </div> -->
        </form>
        </div>

		</div>
	</div>
</div>
